

html, body {
    overflow: hidden; 
    margin: 0;
    padding: 0;
}

html{
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none; 
}


nav {
    height: 45px;
    background-color:#111; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 350px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 1.2vw;
    font-family: "Roboto", serif;
    font-weight: bold;
    margin-right: 50px;
    font-weight: 400;
    text-transform: uppercase;
   
}

nav a:hover {
    color: rgb(179, 178, 178);
    
}
nav :hover{
    content: "";
    border-bottom: 1px solid rgb(179, 178, 178);
    transition: 1s ease;
    
}
nav h1{
    color: white;
    position: relative;
    right: 650px;
    font-size:7vh ;
    top: 5px;
}
nav h1 span{
    color: red;
}
nav h1:hover{
    border: none;
}
nav h1 span:hover{
    border: none;
}

